@page "/plcdashboard"
@namespace PlcTagLib.Web.Pages
@using PlcTagLib.MicrologixPlcs.DTOs


<PageTitle>PLC Dashboard</PageTitle>
<MudCard Elevation="2" Class="col-8 mx-auto">
    <MudCardHeader Class="row grid">
        <MudGrid>
            <MudItem sm="12" md="6">

                <MudSelect Label="Micrologix Plcs" T="PlcDto" Variant="Variant.Outlined" ValueChanged="OnValueChanged"
                    Clearable="true">
                    @foreach (var plc in PlcDtosList!)
                    {
                        <MudSelectItem Value="@plc">@plc.Name</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
            <MudItem sm="12" md="6">
                <MudAutocomplete Label="Tags" T="string" Variant="Variant.Outlined" />
            </MudItem>
        </MudGrid>
    </MudCardHeader>
    <MudCardContent>
        <MudList Clickable="true" Dense="true" Class="">
            @if (TagGroupsList != null)
            {
                var i = 1;
                foreach (var tagGroup in TagGroupsList)
                {

                    <MudDivider DividerType="DividerType.FullWidth" />
                    <MudListItem Text="@tagGroup.Key.ToString()" Style="@GetListItemStyle(i)">
                        <NestedList>
                            <MudSimpleTable Dense="true" Bordered="true" Striped="false" FixedHeader="true" Outlined="true">
                                <thead>
                                    <tr>
                                        <th style="width: 15%; text-align: center">I/O</th>
                                        <th style="width: 35%;" class="text-center">Address</th>
                                        <th style="width: auto" class="text-center">Symbol</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var tag in tagGroup)
                                    {
                                        <tr>
                                            <td style="" class="text-center">
                                                <MudButton Style="width: 60%;" Class="justify-space-between"
                                        StartIcon="@Icons.Material.Filled.Circle"
                                        IconColor="@(tag.Value? Color.Error : Color.Success)"
                                        OnClick="@(()=> ToggleTagValue(tag))" Variant="Variant.Outlined"
                                        Size="Size.Small">@(tag.Value ?"Off": "on")</MudButton>
                                            </td>
                                            <td class="text-center">@tag.Address</td>
                                            <td class="text-center">@tag.SymbolName</td>
                                        </tr>
                                    }
                                </tbody>
                            </MudSimpleTable>
                        </NestedList>
                    </MudListItem>

                }
            }
        </MudList>
    </MudCardContent>
</MudCard>