@page "/plcdashboard"

@using PlcTagLib.MicrologixPlcs.DTOs

<PageTitle>PLC Dashboard</PageTitle>


<MudText Typo="Typo.h3" GutterBottom="true">Plc - Dashboard</MudText>


<MudCard Elevation="2" Class="w-75 mx-auto">
    <MudCardHeader Class="row d-flex justify-space-between align-center">
        <div class="col px-4">
            <MudSelect Label="Micrologix Plcs" T="PlcDto" Variant="Variant.Outlined" ValueChanged="OnValueChanged"
                Clearable="true">
                @foreach (var plc in _plcDtosList!)
                {
                    <MudSelectItem Value="@plc">@plc.Name</MudSelectItem>
                }
            </MudSelect>
        </div>
        <div class="col px-4">
            <MudText Typo="Typo.h6" Class="text-center">@(_selectedPlc.Name ?? "Plc [Name]")</MudText>
        </div>

    </MudCardHeader>

    <MudCardContent>
        <MudList Clickable="true">
            <MudListSubheader>
                Tags From PLC: 
            </MudListSubheader>

            @if (_selectedPlcsTagList != null )
            {
                foreach (var tag in _selectedPlcsTagList!)
                {
                    <MudListItem>
                           <MudText>
                               @tag.Address
                           </MudText>      
                           <MudText>
                               @tag.SymbolName
                           </MudText>
                    </MudListItem>
                }
            }
            <MudListItem >
                <MudText>Hello World</MudText>
            </MudListItem>
        </MudList>
    </MudCardContent>

</MudCard>